{% extends "layout-volunteer-jdr.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Log into your account</h1>

      <form action="/{{folder}}/{{subfolder}}/researcher-login" method="post" novalidate>
  
      {{ input({
        id: "emailAddress",
        name: "emailAddress",
        type: "email",
        classes: "nhsuk-input--width-20",
        label: {
          text: "Email address"
        }
      }) }}

      {{ passwordInput({
        label: {
          text: "Password"
        },
        id: "password",
        name: "password",
        classes: "nhsuk-input--width-20"
      }) }}

      <p><a href="/login/forgot-your-password" class="nhsuk-link jdr-link-pink">Reset your password</a></p>

      <button class="nhsuk-button jdr-button-pink" data-module="nhsuk-button" type="submit">
      Log in
      </button>

      </form>

    </div>
  </div>
    </div>
  </div>

{% endblock %}