{% extends "layout-volunteer-jdr.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
     
      <h1 class="nhsuk-heading-l">
        Log in to your account
      </h1>
      
      <a href="/login2/login-jdr-only" role="button" draggable="false" class="nhsuk-button jdr-button-pink" data-module="nhsuk-button">
        Continue with email and password
      </a>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            When to use email and password
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Use your email address and password if you registered for Join Dementia Research with your email address.</p>
          
        </div>
      </details>

      
      <a href="https://prototype-nhs-login.herokuapp.com/nhslogin/enter-login-details?clientRequests=p5&registered=trueBefore&p0=trueNow&userIs=registered" role="button" draggable="false" class="nhsuk-button nhs-login-button" data-module="nhsuk-button">
            Continue to NHS login
      </a>
      
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            When to use NHS login
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Use NHS login if you registered for Join Dementia Research or Be Part of Research with NHS login. NHS login is only available in England, Wales and the Isle of Man.</p>
          
        </div>
      </details>

    </div>
  </div>

</div>
{% endblock %}