{% extends "layout-volunteer-jdr.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Homepage</h1>
      <p>Add filler content.</p>
      <p>Buttons below need to be placed in the header.</p>

      <div class="nhsuk-button-group">
        <a href="/login" role="button" draggable="false" class="nhsuk-button jdr-button-pink" data-module="nhsuk-button">
        Log in
        </a>

        <button class="nhsuk-button jdr-button-black" data-module="nhsuk-button" type="submit">
        Register
        </button>

        <button class="nhsuk-button jdr-button-secondary-pink" data-module="nhsuk-button" type="submit">
        Register by phone
        </button>

      </div>

    
    </div>
  </div>
{% endblock %}