{% extends "layout-volunteer-jdr-with-login4.html" %}

{% block content %}
<div>
  <img src="/assets/images/bannerUpdated.png" alt="A wide banner image, displaying a diverse row of close-up portraits of six smiling older adults and seniors from various ethnic backgrounds, including a medical professional on the far right." class="jdr-contained-image">
  <h3>Welcome to Join Dementia Research</h3>
  <h1 class="nhsuk-heading-xl">A place to register your interest in taking part in vital dementia research.</h1>
  <p><strong>What happens when you register?</strong>
    <br>When you sign up to Join Dementia Research, the information you provide is used to match you to studies you may be able to take part in, both online, nationally and in your local area. The service connects registered volunteers with dementia researchers across the UK who are looking for people to join their studies.
    <br>You can review your study matches once you register and then it’s your decision whether to take part. Taking part means you will make a real difference to the future of dementia care, diagnosis and treatment.
  </p>
</div>

<img src="/assets/images/3tiles.png" class="jdr-contained-image">

<div>
  <h2 class="nhsuk-heading-xl">Join Dementia Research is helping make a real difference to dementia research.</h2>
  <p><strong>Our progress so far:</strong></p>
  <img src="/assets/images/iconsandtext.png" class="jdr-contained-image">
</div>

<div>
  <h2 class="nhsuk-heading-xl">Why volunteer for dementia research?</h2>
  <p><strong>Help advance dementia care, diagnosis and treatments.</strong>
    <br>Dementia affects more than 944,000 people in the UK.
    <br>Research offers hope. Only through research can we understand what causes dementia diseases, develop effective treatments and improve the care of those living with dementia.
    <br>But for research to make progress we need more people with and without dementia to take part in vital studies. Help beat dementia by signing up today.
  </p>
</div>

<img src="/assets/images/2tiles.png" class="jdr-contained-image">

{% endblock %}